body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
h1{
    font-size: 60px;
    color: #575757;
}
.orange-color{
    color: #FBA24F;
}
p{
    color: #828282;
    font-size: 20px;
}
.flexibal-container{
    display: flex;
    margin-bottom: 100px;
}
.main{
    display: flex;
}
.divide{
    width: 50%;
    padding-left: 10%;
}
.divide img{
    width: 658px;
    height: 747px;
    left: 500px;
    top: 82px;
    
}
.link-up{
    text-decoration: none;
    padding: 15px 40px;
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    border-radius: 30px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 5px 5px 25px rgb(172, 63, 20);

}
.back-banner{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.divide-second{
    width: 40%;
    padding-left: 10%;
    
}
.divide-second img{
    width: 400px;
    height: 562px;
    padding-top: 70px;
}
.about{
    font-size: 50px;
    margin-top: 150px;
}
.p-res{
    color: black;
}

.recipies {
    width: 100%;
    height: 850px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    display: flex;

}

.recipies-heading {
    text-align: center;
}

.recipies-heading h2 {
    color: #575757;
    font-size: 50px;
    margin: 10px;
}

.recipies-heading p {
    color: black;
    font-size: 20px;
    margin: 0;
}

.recipies_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.r_box{
    background-color: #fff;
    width: 380px;
    height: 520px;
    margin: 20px;
    border-radius: 20px;
    position: relative;
    text-align: center;
    box-shadow: 10px 10px 40px gray;
}



.r_img img {
    height: 100%;
    width: 350px;
    padding: 15px;
}

.r_text p {
    color: black;
    font-size: 16px;
}

.r_btn {
    width: 150px;
    height: 45px;
    background-color: #575757;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
}

.other_text h2{
    color: #575757;
    font-size: 50px;
    margin: 10px;
}

.contact {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:white;
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.contact_heading {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 200px;
    text-align: center;
}

.contact_heading h2 {
    font-size: 50px;
    color: #575757;
    padding: 30px 0;
    margin: 0;


}

.contact_box {
    display: flex;
    width:60%;
    height:500px;
}

.cont_left {
    width: 400px;
    height:450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    text-align: center;
    margin: 0;
    padding: 0;
}
.address h3, .address .fas{
    font-size:25px;
    margin:5px;
    color:#575757;
}

.address p{
    color:#575757;
    font-size:15px;
}

.phone h3, .phone .fas{
    font-size:25px;
    margin:5px;
    color:#575757;
}
.phone p{
    color:#575757;
    font-size:15px;
}
.email h3, .email .fas{
    font-size:25px;
    margin:5px;
    color:#575757;
}
.email p{
    color:#575757;
    font-size:15px;
}
.cont_right {
    width: 400px;
    height:450px;
    background-color: #536162;
    border-radius: 20px;
    text-align: center;

}

.cont_right h2 {
    font-size: 30px;
    color: black;
    text-align: center;
}

.cont_form {
    text-align: center;
}

.form-input {
    height: 50px;
    width: 300px;
    text-align: center;
    border: none;
    border-radius: 50px;
    margin: 8px 0;
    outline: none;
}

.form_textarea {
    resize: none;
    min-height: 80px;
    border-radius: 10px;
}

.form_btn {
   
    width: 300px;
    height: 40px;
    border-radius:15px;
    border:none;
    background-color:#1b1717;
    cursor: pointer;
    color:white;
}
.form_btn:hover{
    background-color:#333030;
    transition: 0.52s;

}
